@import "~variables";

.day-root{
  height: 100%;
  padding: 10px;
  // compensate for 1px border so .day-events is exactly 600px
  max-width: 701px;
  margin: 20px auto;
  display: flex;

  .day-hours-outer{
    width: 60px;
  }

  .day-events-outer{
    border-left: 1px solid $more-light-grey;
    background-color: $lighter-grey;
    flex: 1 1 auto;
    margin: 0 10px;
    // compensate for 1px border and padding
    max-width: 621px;
  }

  .day-events-pad{
    padding: 0 10px;
  }

}